/*------------about__item------------*/
.about{
    max-width: 714px;
    padding-top: 25px;
}
.about__item>p{
    font-size: 13px;
    color: #777;
    text-align: right;
    line-height: 19px;
    margin-bottom: 15px;
}
.about__item{
    margin-bottom: 26px;
}
.about__item div{
    position: relative;
    width: 300px;
    height: 155px;
    margin: 0 auto;
    margin-bottom: 22px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.about .site__title{
    font-size: 25px;
    font-weight: 700;
}
/* ------------ /about__item ------------ */

@media (min-width: 768px) {
    /*------------about__item------------*/
    .about__item div{
        width: 300px;
        height: 154px;
        margin: 0 20px 20px 0;
    }
    .about .site__title {
        text-align: right;
    }
    /*------------/about__item------------*/
}

@media (min-width: 1040px) {
    /*------------about__item------------*/
    .about__item div{
        width: 264px;
        height: 136px;
        float: left;
        left: 0px;
        top: -4px;
        margin: 0 15px 20px 0;
    }
    .about{
        width: 705px;
        display: inline-block;
        margin-right: 21px;
        float: right;
        padding: 13px 0 0 0;
    }
    /*------------/about__item------------*/
}
