/*------------about__item------------*/
.service{
    max-width: 714px;
    padding-top: 25px;
}
.service p{
    font-size: 13px;
    color: #777;
    text-align: right;
    line-height: 19px;
    margin-bottom: 24px;
}
.service strong{
    font-size: 13px;
    color: #000;
}
.service__item{
    margin-bottom: 26px;
}
.service img{
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 22px;
}
.service a{
    color: #000;
    text-decoration: underline;
}
.content a:active{
    color: #780500;
}

.service a:hover{
    color: #780500;
    text-decoration: none;
}
.service h1{
    font-size: 30px;
    font-weight: 700;
    text-align: right;
    color: #790301;
    margin-bottom: 8px;
}
.service h6,
.service h5,
.service h4,
.service h2{
    font-size: 20px;
    color: #780500;
    margin-bottom: 10px;
    line-height: 21px;
}
.service h6{
    font-size: 15px;
}
.service h5{
    font-size: 13px;
}
.service h3{
    font-size: 16px;
    color: #780500;
    margin-bottom: 10px;
    line-height: 21px;
    font-weight: 400;
}
.service h4{
    text-decoration: underline;
}
.service ul{
    position: relative;
    padding: 24px 50px 14px 0;
    background: #f0eeee;
    margin-bottom: 30px;
}
.service ul li{
    width: 100%;
    position: relative;
    font-size: 13px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 12px;
    padding-right: 15px;
    padding-left: 37px;
}
.service ul li:before{
    content:"";
    position: absolute;
    right: -15px;
    width:12px;
    height:12px;
    background: url("../img/services-right.png") no-repeat center;
}
.service dl {
    margin: 0 0 15px 0;
}
.service dt {
    font-weight: bold;
    margin-bottom: 2px;
}
.service dd {
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    /*------------about__item------------*/
    .service img{
        width: 320px;
        height: 180px;
        margin: 0 20px 20px 0;
    }
    .service h1 {
        text-align: right;
        margin-bottom: 17px;
    }
    .service p {
        margin-bottom: 30px;
    }
    /*------------/about__item------------*/
}
@media (min-width: 1040px) {
    /*------------about__item------------*/
    .service ul {
        margin-top: 16px;
        padding: 27px 48px 10px 0;
    }
    .service ul li {
        width: 32.5%;
        margin-bottom: 13px;
        padding-left: 15px;
    }
    .service img{
        width: 320px;
        height: 180px;
        left: -2px;
        margin: 0 15px 0 8px;
    }
    .service{
        display: inline-block;
        margin-right: 21px;
        float: right;
        padding-top: 30px;
    }
    /*------------/about__item------------*/
}
