/*------------about__item------------*/
.service{
    max-width: 714px;
    padding-top: 25px;
}
.service__item p{
    font-size: 13px;
    color: #777;
    text-align: right;
    line-height: 18px;
    margin-bottom: 17px;
}
.service__item{
    margin-bottom: 26px;
}
.service__item div{
    position: relative;
    width: 300px;
    height: 155px;
    margin: 0 auto;
    margin-bottom: 22px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.service .site__title{
    font-size: 25px;
    font-weight: 700;
}
.site__aside .contact-form{
    display: block;
}
.service h2{
    font-size: 20px;
    color: #780500;
    margin-bottom: 10px;
}
.service ul{
    position: relative;
    padding: 10px 20px 10px 0;
    background: #f0eeee;
}
.service ul li{
    width: 225px;
    position: relative;
    font-size: 13px;
    display: inline-block;
    margin-bottom: 10px;
    padding-right: 15px;
}
.service ul li:before{
    content:"";
    position: absolute;
    right: 0;
    width:12px;
    height:12px;
    background: url("../img/services-right.png") no-repeat center;
}

@media (min-width: 768px) {
    /*------------about__item------------*/
    .service__item div{
        width: 300px;
        height: 154px;
        margin: 0 20px 20px 0;
    }
    .service .site__title {
        text-align: right;
    }
    /*------------/about__item------------*/
}
@media (min-width: 1040px) {
    /*------------about__item------------*/
    .service__item div{
        width: 264px;
        height: 136px;
        float: left;
        left: -12px;
        top: -7px;
        margin: 0 15px 20px 0;
    }
    .service{
        width: 705px;
        display: inline-block;
        margin-right: 21px;
        float: right;
    }
    /*------------/about__item------------*/
}
